<div class="movie-detail" *ngIf="movie"
    [ngStyle]="{'--back-image':'url(' + backdrop_path+ ')'}">
    <div class="content">
        <img src="https://image.tmdb.org/t/p/w300{{movie.poster_path}}" alt="">
        <div class="description">
            <h1>{{movie.original_title}} ({{movie.release_date | date: 'yyyy'}})</h1>
            <p>{{movie.overview}}</p>
            <a *ngIf="trailer" data-toggle="modal" href="#trailerModal">Trailer</a>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="trailerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">{{movie.original_title}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">     
                    <iframe [src]="sanitizer.bypassSecurityTrustResourceUrl(trailer)"
                        frameborder="0" allow="autoplay; encrypted-media; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
    <app-actors></app-actors>
</div>